<style type="text/css">
    <!--
    #user_field html, #user_field, #user_field h1, #user_field h2, #user_field h3, #user_field h4, #user_field h5, #user_field h6, #user_field a, #user_field abbr, #user_field acronym, #user_field em, #user_field p, #user_field strong, #user_field address, #user_field blockquote, #user_field cite, #user_field q, #user_field dd, #user_field dfn, #user_field dl, #user_field dt, #user_field li, #user_field ol, #user_field ul, #user_field code, #user_field kbd, #user_field pre, #user_field samp, #user_field tt, #user_field var, #user_field big, #user_field del, #user_field ins, #user_field small, #user_field caption, #user_field table, #user_field tbody, #user_field td, #user_field tfoot, #user_field th, #user_field thead, #user_field tr, #user_field fieldset, #user_field iframe, #user_field img, #user_field menu {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        font-style: inherit;
        font-weight: inherit;
        font-size: 100%;
        line-height: inherit;
        text-align: inherit;
        text-decoration: inherit;
        color: inherit;
    }

        #user_field html, #user_field, #user_field input, #user_field option, #user_field optgroup, #user_field select {
            font-family: sans-serif;
        }

            #user_field textarea, #user_field input, #user_field option, #user_field optgroup, #user_field select {
                font-size: 100%;
            }

            #user_field ol, #user_field ul, #user_field menu {
                list-style: none;
            }

            #user_field code, #user_field kbd, #user_field pre, #user_field samp, #user_field textarea, #user_field tt, #user_field var {
                font-family: monospace;
            }

            #user_field table {
                border-collapse: collapse;
                border-spacing: 0;
            }

            #user_field legend, #user_field hr {
                display: none;
            }

            #user_field .clear {
                clear: both;
            }

            #user_field strong {
                font-weight: bold;
            }

            #user_field ul li ul {
                list-style: disc outside none;
            }

            #user_field img {
                vertical-align: bottom;
            }

            #user_field a {
                text-decoration: none;
                color: #FFF;
            }

            #user_field .clear {
                clear: both;
                float: none;
            }

            #user_field #bauction {
                font-family: arial;
                font-weight: normal;
                font-size: 19px;
                background: url(http://panel.aleszablony.pl/uploads/templates/557/images/background.png);
            }

            #user_field #esp_content {
                width: 1000px;
                margin: 0 auto;
                padding-bottom: 20px;
                margin-bottom: 30px;
            }

            #user_field #opis {
                background: #fff;
                padding-bottom: 10px;
            }

            #user_field #domkniecie_opisu {
                background: url(http://panel.aleszablony.pl/uploads/templates/557/images/bottom_opis.png) no-repeat 0px 0px;
                width: 748px;
                height: 17px;
            }

            #user_field #opis > .tresc {
                color: #000;
                padding: 10px 20px;
                font-size: 15px;
                margin: 8px 0px 8px 0px;
            }

            #user_field #opis > .zdjecia {
                text-align: center;
            }

            #user_field #opis #galeria {
                text-align: center;
                padding-bottom: 10px;
            }

                #user_field #opis #galeria img {
                    margin-top: 15px;
                }

            #user_field .esp_left {
                width: 235px;
                float: left;
            }

            #user_field .esp_right {
                width: 745px;
                float: right;
            }

                #user_field .esp_right #opis ul {
                    list-style: url(http://panel.aleszablony.pl/uploads/templates/557/images/list.png);
                    padding-left: 25px;
                }

                #user_field .esp_right #opis li {
                    padding-left: 28px;
                    font-size: 15px;
                }

            #user_field .esp_column_full {
                padding: 0px;
            }
    -->
</style>
<style type="text/css">
    <!--

    -->
</style>
<style type="text/css">
    <!--

    -->
</style>
<style type="text/css">
    <!--

    -->
</style>
<style type="text/css">
    <!--

    -->
</style>
<div id="bauction" style="background-image: url(http://panel.aleszablony.pl/uploads/templates/557/images/background.png); background-attachment: scroll; background-size: auto; background-origin: padding-box; background-clip: border-box; background-position: 0% 0%; background-repeat: repeat;">
    <div id="esp_bg">
        <div id="esp_content">
            <div id="naglowek_logo" style="background-color: rgba(0, 0, 0, 0);"><img src="http://imge.pl/aleszablony/users/33804/131079/naglowek_logo.png#69e3c" /></div>
            <div id="style_i_menu" style="background-color: rgba(0, 0, 0, 0);">
                <img src="http://imge.pl/aleszablony/users/33804/131079/menu.png#f2d73" usemap="#mapa1" />
                <map name="mapa1">
                    <area coords="0,0,250,250" href="http://allegro.pl/listing/user/listing.php?us_id=16149589" shape="rect" style="background: red;" />
                    <area coords="0,0,250,250" href="#" shape="rect" />
                    <area coords="250,0,500,250" href="http://allegro.pl/show_user.php?search=Lukistr&amp;search_scope=user" shape="rect" />
                    <area coords="500,0,750,250" href="http://allegro.pl/my_page.php?uid=16149589" shape="rect" />
                    <area coords="750,0,10000,250" href="http://allegro.pl/SendMailToUser.php?userId=16149589" shape="rect" />
                </map>
            </div>
            <div id="tresc">
                <div class="esp_left" style="background-color: rgba(0, 0, 0, 0);">
                    <div id="style_i_kontakt">
                        <div id="kontakt_style">
                            <style type="text/css">
                                <!--
                                #user_field #kontakt {
                                    width: 235px;
                                    margin-bottom: 20px;
                                    font-size: 15px;
                                }

                                    #user_field #kontakt .naglowek {
                                        color: #fff;
                                        text-indent: 20px;
                                        font-family: 'Ubuntu-R-niestandardowa';
                                        font-size: 24px;
                                        line-height: 39px;
                                        background: url(http://panel.aleszablony.pl/uploads/templates/557/images/naglowek_panel_informacyjny_1.png) no-repeat;
                                    }

                                    #user_field #kontakt .tresc {
                                        background: #fff;
                                        padding: 9px;
                                        color: #000;
                                        border: 1px solid #5f5f5f;
                                        padding-bottom: 11px;
                                    }

                                        #user_field #kontakt .tresc ul {
                                            margin-bottom: 10px;
                                        }

                                    #user_field #kontakt .lista_ikona {
                                        width: 58px;
                                        float: left;
                                        height: 52px;
                                    }

                                    #user_field #kontakt .lista_tresc {
                                        width: 141px;
                                        min-height: 50px;
                                        float: left;
                                        margin-left: 16px;
                                        line-height: 20px;
                                        font-size: 14px;
                                    }

                                    #user_field #kontakt #tel_ikona {
                                        background: transparent url(http://foto.esprzedaz.com/icos/i8.png) top right no-repeat;
                                    }

                                    #user_field #kontakt #email_ikona {
                                        background: transparent url(http://foto.esprzedaz.com/icos/i2.png) top right no-repeat;
                                    }

                                    #user_field #kontakt #zegar_ikona {
                                        background: transparent url(http://foto.esprzedaz.com/icos/i20.png) top right no-repeat;
                                    }

                                    #user_field #kontakt #walizka_ikona {
                                        background: transparent url(http://foto.esprzedaz.com/icos/i12.png) top right no-repeat;
                                    }
                                -->
                            </style>
                        </div>
                        <div id="kontakt" style="display: block;">
                            <div class="element"><img src="http://imge.pl/aleszablony/users/33804/131079/kontakt.png#bc2f5" /></div>
                            <div class="tresc">
                                <ul>
                                    <li style="font-weight: bold; font-size: 19px;">Masz pytania ?</li>
                                    <li style="color: #00000; font-weight: bold; font-size: 13px;">chętnie na wszystkie odpowiemy</li>
                                    <li style="color: #00000; font-weight: bold; font-size: 13px;">Pon - Sob od 9.00 do 20.00</li>
                                </ul>
                                <div class="lista_ikona element grafika nr_grafiki2" id="tel_ikona">&nbsp;</div>
                                <div class="lista_tresc"><span style="font-weight: bold;">telefon</span><br /> 721 689 420</div>
                                <div class="clear">&nbsp;</div>
                                <div class="lista_ikona element grafika nr_grafiki3" id="email_ikona">&nbsp;</div>
                                <div class="lista_tresc"><span style="font-weight: bold;">email</span><br /> wysylkonet2@@<span style="font-style: inherit; text-align: inherit; text-decoration: inherit;">gmail.com</span></div>
                                <div class="clear">&nbsp;</div>
                                <div class="lista_ikona element grafika nr_grafiki4" id="zegar_ikona" style="background-image: url(http://foto.esprzedaz.com/icos/i34.png);">&nbsp;</div>
                                <div class="lista_tresc"><span style="font-weight: bold;">Sprzedaż wyłącznie wysyłkowa</span></div>
                                <div class="clear">&nbsp;</div>
                                <div class="hr-line">&nbsp;</div>
                                <div class="lista_ikona element grafika nr_grafiki5" id="walizka_ikona" style="background-image: url(http://foto.esprzedaz.com/icos/i12.png);">&nbsp;</div>
                                <div class="lista_tresc">
                                    <span style="font-weight: bold;">adres</span><br />
                                    <p>Łukasz Tomsia WYSYŁKONET<br /> Ul. Mikołowska 11/13<br /> 44-100 Gliwice</p>
                                </div>
                                <div class="clear">&nbsp;</div>
                            </div>
                            <div class="zakonczenie">&nbsp;</div>
                        </div>
                        <!--        koniec kontakt        -->
                    </div>
                    <div id="style_i_wysylka">
                        <div id="wysylka_style">
                            <style type="text/css">
                                <!--
                                #user_field #wysylka {
                                    width: 235px;
                                    margin-bottom: 20px;
                                    font-size: 15px;
                                }

                                    #user_field #wysylka .naglowek {
                                        color: #fff;
                                        text-indent: 20px;
                                        font-family: 'Ubuntu-R-niestandardowa';
                                        font-size: 24px;
                                        line-height: 39px;
                                        background: url(http://panel.aleszablony.pl/uploads/templates/557/images/naglowek_panel_informacyjny_2.png) no-repeat;
                                    }

                                    #user_field #wysylka .tresc {
                                        background: #fff;
                                        padding: 9px;
                                        color: #000;
                                        border: 1px solid #5f5f5f;
                                        padding-bottom: 18px;
                                    }

                                    #user_field #wysylka .opis {
                                        margin-bottom: 9px;
                                    }

                                    #user_field #wysylka .naglowek-opcje-wysylki {
                                        margin-bottom: 25px;
                                    }

                                    #user_field #wysylka .opcje-wysylki {
                                        width: 200px;
                                        height: 50px;
                                    }

                                        #user_field #wysylka .opcje-wysylki.poczta {
                                            background: transparent url(http://foto.esprzedaz.com/icos/k10.png) top center no-repeat;
                                        }

                                        #user_field #wysylka .opcje-wysylki.ups {
                                            background: transparent url(http://foto.esprzedaz.com/icos/k8.png) top center no-repeat;
                                        }

                                    #user_field #wysylka .oplaty {
                                        margin-top: 12px;
                                        margin-bottom: 8px;
                                    }
                                -->
                            </style>
                        </div>
                        <div id="wysylka">
                            <div class="element"><img src="http://imge.pl/aleszablony/users/33804/131079/wysylka.png#1a1f8" /></div>
                            <div class="tresc">
                                <div class="opis" style="text-align: center;">Przedmioty staramy się wysyłać do <strong>2 dni</strong> od otrzymania wpłaty. Maksymalny czas na wysłanie towaru wynosi <strong>7 dni</strong>&nbsp;<span style="font-style: inherit; line-height: inherit; text-align: inherit; text-decoration: inherit;">od otrzymania wpłaty.</span></div>
                                <div class="lista_kurierow">
                                    <div class="kurier">
                                        <div class="poczta opcje-wysylki element grafika nr_grafiki2">&nbsp;</div>
                                        <ul class="oplaty">
                                            <li style="font-size: 15px; text-align: center;"><strong style="font-size: 15px;">OPCJE DOSTAWY:</strong></li>
                                            <li style="font-size: 15px; text-align: center;"><strong style="font-size: 15px;"><br /></strong></li>
                                            <li style="font-size: 15px; text-align: center;"><strong style="font-size: 15px;">1.&nbsp;KURIER</strong></li>
                                            <li style="font-size: 15px; text-align: center;"><strong style="font-size: 15px;"><br /></strong></li>
                                            <li style="font-size: 15px; text-align: center;"></li>
                                            <li style="font-size: 15px; text-align: center;"><strong style="font-size: 15px;">2. KURIER ODBI&Oacute;R W PUNKCIE AWIZO</strong></li>
                                            <li style="font-size: 15px; text-align: center;"><strong style="font-size: 15px;"><br /></strong></li>
                                            <li style="font-size: 15px; text-align: center;"></li>
                                            <li style="font-size: 15px; text-align: center;"><strong style="font-size: 15px;">3. KURIER POBRANIOWY</strong></li>
                                            <li style="font-size: 15px; text-align: center;"><strong style="font-size: 15px;"><br /></strong></li>
                                            <div style="line-height: 18.75px; text-align: center;"><span style="font-weight: bold; font-size: 14pt; background-color: #ff6600;">Za przesyłkę zawsze płacisz tylko raz!&nbsp;</span></div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="zakonczenie">&nbsp;</div>
                        </div>
                        <!--        koniec wysylka        -->
                    </div>
                    <div id="style_i_platnosci">
                        <div id="platnosci_style">
                            <style type="text/css">
                                <!--
                                #user_field #platnosci {
                                    width: 235px;
                                    margin-bottom: 20px;
                                    font-size: 15px;
                                }

                                    #user_field #platnosci .naglowek {
                                        color: #fff;
                                        text-indent: 20px;
                                        font-family: 'Ubuntu-R-niestandardowa';
                                        font-size: 24px;
                                        line-height: 39px;
                                        background: url(http://panel.aleszablony.pl/uploads/templates/557/images/naglowek_panel_informacyjny_2.png) no-repeat;
                                    }

                                    #user_field #platnosci .tresc {
                                        background: #fff;
                                        padding: 9px;
                                        color: #000;
                                        border: 1px solid #5f5f5f;
                                        padding-bottom: 26px;
                                    }

                                    #user_field #platnosci p {
                                        margin-bottom: 21px;
                                    }
                                -->
                            </style>
                        </div>
                        <div id="platnosci">
                            <div class="element"><img src="http://imge.pl/aleszablony/users/33804/131079/platnosci.png#f4dfb" /></div>
                            <div class="tresc">
                                <p>Wpłaty prosimy wykonywać za pośrednictwem allegro lub przelewem tradycyjnym.</p>
                                <p style="text-align: center;"><img alt="payu" src="http://foto.esprzedaz.com/icos/payu.png" /></p>
                                <p><strong>Nr. konta</strong><br /> 69 1160 2202 0000 0002 5948 9791</p>
                                <p>Regulamin dostępny na naszej stronie o mnie.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="esp_right">
                    <div id="style_i_banner" style="background-color: rgba(0, 0, 0, 0);"><img src="http://imge.pl/aleszablony/users/33804/131079/banner.png#f4f50" /></div>
                    <div id="gora_opisu" style="background-color: rgba(0, 0, 0, 0);">&nbsp;</div>
                    <div id="opis">
                        <div id="style_i_naglowek_opisu" style="background-color: rgba(0, 0, 0, 0);"><img src="http://imge.pl/aleszablony/users/33804/131079/naglowek_opisu.png#78caa" /></div>
                        <div class="hr" style="background-color: rgba(0, 0, 0, 0);">&nbsp;</div>
                        <h1 style="text-align: center;"><span style="font-size: 36pt; font-weight: bold; color: #cc0017;"> </span></h1>
                        <h1 style="font-family: verdana, tahoma, arial, sans-serif; font-size: 19px; color: #000000; font-style: normal; line-height: 23.75px; text-align: center;"><font color="#cc0017"><span style="font-size: 48px;"><strong>@Model.Flower.FlowerName gł&oacute;wka</strong></span></font></h1>
                        <p style="text-align: center;"><font color="#cc0017"><span style="font-size: 48px;"><strong>DUŻA!</strong></span></font></p>
                        <p style="text-align: center;"><span style="font-size: 12pt;"><strong>nr 90/30/10631GR</strong></span></p>
                        <h1 style="text-align: center;">
                            <p style="margin-top: 0px; margin-bottom: 0px; font-style: normal; font-weight: normal; font-size: 19px; line-height: 23.75px; text-align: center; color: #000000;"><span style="font-size: 18pt; font-weight: bold;">Gł&oacute;wka wykonana jest bardzo starannie!&nbsp;</span></p>
                            <p style="margin-top: 0px; margin-bottom: 0px; font-style: normal; font-weight: normal; font-size: 19px; line-height: 23.75px; text-align: center; color: #000000;">&nbsp;</p>
                            <p style="margin-top: 0px; margin-bottom: 0px; font-style: normal; font-weight: normal; font-size: 19px; line-height: 23.75px; text-align: center; color: #000000;">Średnica gł&oacute;wki: około 16 cm</p>
                            <p style="margin-top: 0px; margin-bottom: 0px; font-style: normal; font-weight: normal; font-size: 19px; line-height: 23.75px; text-align: center; color: #000000;"><img class="fancybox-image" src="http://imge.pl/p/87842/n/878427584946.jpg" /></p>
                            <p style="margin-top: 0px; margin-bottom: 0px; font-style: normal; font-weight: normal; font-size: 19px; line-height: 23.75px; text-align: center; color: #000000;">&nbsp;</p>
                        </h1>
                        <div id="style_i_naglowek_galerii" style="background-color: rgba(0, 0, 0, 0);"></div>
                        <div style="line-height: 23.75px; text-align: center; background-color: rgba(0, 0, 0, 0);"><span style="font-size: 24pt; background-color: #ff6600;"><strong style="font-size: 32px;">Kup na kilku naszych aukcjach</strong></span></div>
                        <div style="line-height: 23.75px; text-align: center; background-color: rgba(0, 0, 0, 0);"></div>
                        <div style="line-height: 23.75px; text-align: center; background-color: rgba(0, 0, 0, 0);"><span style="font-size: 24pt; background-color: #ff6600;"><strong style="font-size: 32px;"><br /></strong></span></div>
                        <div style="line-height: 23.75px; text-align: center; background-color: rgba(0, 0, 0, 0);"><span style="font-size: 24pt; background-color: #ff6600;"><strong style="font-size: 32px;">&nbsp;za przesyłkę zapłać tylko raz!</strong></span></div>
                        <div style="line-height: 23.75px; text-align: center; background-color: rgba(0, 0, 0, 0);"></div>
                        <div style="line-height: 23.75px; text-align: center; background-color: rgba(0, 0, 0, 0);"><span style="font-size: 24pt; background-color: #ff6600;"><strong style="font-size: 32px;"><br /></strong></span></div>
                        <div style="line-height: 23.75px; text-align: center; background-color: rgba(0, 0, 0, 0);"></div>
                        <div style="line-height: 23.75px; text-align: center; background-color: rgba(0, 0, 0, 0);">
                            <span style="font-size: 24pt; background-color: #ff6600;">
                                <strong style="font-size: 32px;">
                                    <div style="font-size: 19px; font-weight: normal; background-color: rgba(0, 0, 0, 0);"><strong style="font-style: normal; font-size: 19px; line-height: 23.75px; text-align: center; color: #000000;"><span style="font-size: 24pt;"><span style="background-color: #99cc00;">SPRZEDAJEMY PRZEDMIOTY NAJWYŻSZEJ</span></span></strong></div>
                                    <div style="font-size: 19px; font-weight: normal; background-color: rgba(0, 0, 0, 0);"></div>
                                    <div style="font-size: 19px; font-weight: normal; background-color: rgba(0, 0, 0, 0);"><strong style="font-style: normal; font-size: 19px; line-height: 23.75px; text-align: center; color: #000000;"><span style="font-size: 24pt;"><span style="background-color: #99cc00;"><br /></span></span></strong></div>
                                    <div style="font-size: 19px; font-weight: normal; background-color: rgba(0, 0, 0, 0);"></div>
                                    <div style="font-size: 19px; font-weight: normal; background-color: rgba(0, 0, 0, 0);"><strong style="font-style: normal; font-size: 19px; line-height: 23.75px; text-align: center; color: #000000;"><span style="font-size: 24pt;"><span style="background-color: #99cc00;">JAKOŚCI!</span></span></strong></div>
                                </strong>
                            </span>
                        </div>
                        <div style="text-align: center; background-color: rgba(0, 0, 0, 0);"></div>
                        <p style="background-color: rgba(0, 0, 0, 0);">&nbsp;</p>
                    </div>
                    <div id="domkniecie_opisu" style="background-color: rgba(0, 0, 0, 0);">&nbsp;</div>
                </div>
                <div class="clear" style="background-color: rgba(0, 0, 0, 0);">&nbsp;</div>
                <div id="style_i_banner_inne_aukcje" style="text-align: center; background-color: rgba(0, 0, 0, 0);"><img src="http://imge.pl/aleszablony/users/33804/131079/banner_inne_aukcje.png#a82a2" /></div>
            </div>
        </div>
    </div>
    <div style="width: 1000px; margin: auto; padding-bottom: 20px; background-image: initial; background-attachment: initial; background-color: #ffffff; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <!--    POCZATEK KODU PANEL MINIATUREK    -->
        <div style="width: 776px; padding: 10px 0 10px 0; margin: 0 auto;">
            <style>
                <!--
                #user_field .sellbst_code_head {
                    line-height: 60px;
                    overflow: hidden;
                    padding-left: 10px;
                    font-size: 22px;
                    text-align: left;
                }

                #user_field .sellbst_clear {
                    clear: both;
                    float: none;
                    height: 0;
                    overflow: hidden;
                }

                #user_field .sellbst_code_150 {
                    width: 776px;
                }

                    #user_field .sellbst_code_150 .sellbst_row {
                        width: 150px;
                        float: left;
                        border-radius: 3px;
                        text-decoration: none;
                        float: left;
                        padding: 7px 0;
                        background: #ffffff;
                        border: 1px solid #e6e6e6;
                        border-radius: 0px;
                        margin-right: 4px;
                        margin-bottom: 4px;
                    }

                        #user_field .sellbst_code_150 .sellbst_row:hover {
                            z-index: 50;
                            position: relative;
                            -webkit-box-shadow: 0 0 10px #333;
                            -moz-box-shadow: 0 0 10px #333;
                            box-shadow: 0 0 10px #333;
                        }
                -->
            </style>
            <div class="sellbst_code_150">
                <a class="sellbst_row" href="http://panel.sellboster.pl/redirect.php?id=25695&amp;position=1" rel="nofollow" target="_blank"><img src="http://panel.sellboster.pl/panel_images/25695/0.png" /></a><a class="sellbst_row" href="http://panel.sellboster.pl/redirect.php?id=25695&amp;position=2" rel="nofollow" target="_blank"><img src="http://panel.sellboster.pl/panel_images/25695/1.png" /></a><a class="sellbst_row" href="http://panel.sellboster.pl/redirect.php?id=25695&amp;position=3" rel="nofollow" target="_blank"><img src="http://panel.sellboster.pl/panel_images/25695/2.png" /></a><a class="sellbst_row" href="http://panel.sellboster.pl/redirect.php?id=25695&amp;position=4" rel="nofollow" target="_blank"><img src="http://panel.sellboster.pl/panel_images/25695/3.png" /></a><a class="sellbst_row" href="http://panel.sellboster.pl/redirect.php?id=25695&amp;position=5" rel="nofollow" style="margin-right: 0; border-right: 1px solid #e6e6e6;" target="_blank"><img src="http://panel.sellboster.pl/panel_images/25695/4.png" /></a>
                <div class="sellbst_clear">&nbsp;</div>
                <a class="sellbst_row" href="http://panel.sellboster.pl/redirect.php?id=25695&amp;position=6" rel="nofollow" target="_blank"><img src="http://panel.sellboster.pl/panel_images/25695/5.png" /></a><a class="sellbst_row" href="http://panel.sellboster.pl/redirect.php?id=25695&amp;position=7" rel="nofollow" target="_blank"><img src="http://panel.sellboster.pl/panel_images/25695/6.png" /></a><a class="sellbst_row" href="http://panel.sellboster.pl/redirect.php?id=25695&amp;position=8" rel="nofollow" target="_blank"><img src="http://panel.sellboster.pl/panel_images/25695/7.png" /></a><a class="sellbst_row" href="http://panel.sellboster.pl/redirect.php?id=25695&amp;position=9" rel="nofollow" target="_blank"><img src="http://panel.sellboster.pl/panel_images/25695/8.png" /></a><a class="sellbst_row" href="http://panel.sellboster.pl/redirect.php?id=25695&amp;position=10" rel="nofollow" style="margin-right: 0; border-right: 1px solid #e6e6e6;" target="_blank"><img src="http://panel.sellboster.pl/panel_images/25695/9.png" /></a>
                <div class="sellbst_clear">&nbsp;</div>
                <a class="sellbst_row" href="http://panel.sellboster.pl/redirect.php?id=25695&amp;position=11" rel="nofollow" style="margin-bottom: 0; border-bottom: 1px solid #e6e6e6;" target="_blank"><img src="http://panel.sellboster.pl/panel_images/25695/10.png" /></a><a class="sellbst_row" href="http://panel.sellboster.pl/redirect.php?id=25695&amp;position=12" rel="nofollow" style="margin-bottom: 0; border-bottom: 1px solid #e6e6e6;" target="_blank"><img src="http://panel.sellboster.pl/panel_images/25695/11.png" /></a><a class="sellbst_row" href="http://panel.sellboster.pl/redirect.php?id=25695&amp;position=13" rel="nofollow" style="margin-bottom: 0; border-bottom: 1px solid #e6e6e6;" target="_blank"><img src="http://panel.sellboster.pl/panel_images/25695/12.png" /></a><a class="sellbst_row" href="http://panel.sellboster.pl/redirect.php?id=25695&amp;position=14" rel="nofollow" style="margin-bottom: 0; border-bottom: 1px solid #e6e6e6;" target="_blank"><img src="http://panel.sellboster.pl/panel_images/25695/13.png" /></a><a class="sellbst_row" href="http://panel.sellboster.pl/redirect.php?id=25695&amp;position=15" rel="nofollow" style="margin-right: 0; border-right: 1px solid #e6e6e6; margin-bottom: 0; border-bottom: 1px solid #e6e6e6;" target="_blank"><img src="http://panel.sellboster.pl/panel_images/25695/14.png" /></a>
                <div class="sellbst_clear">&nbsp;</div>
            </div>
            <div style="text-align: center; font-size: 11px; font-weight: bold; padding: 5px;">&copy; <a href="http://allegro.pl/listing/user/listing.php?us_id=29196503" style="text-decoration: none; color: black;">Sellbooster</a></div>
        </div>
        <!--    KONIEC KODU PANEL MINIATUREK    -->
    </div>
    <div id="dodatkowy_box" style="text-align: center; background-color: rgba(0, 0, 0, 0);"><a href="http://panel.aleszablony.pl/1.php" rel="nofollow"><img src="http://panel.aleszablony.pl/users/33804/131079/1.png" /></a></div>
</div>

